div{
    font-family: 'Dosis', sans-serif;
}

label{
    font-size: 15px;
}

#library-container{
    position: absolute;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 99%;
}

#create-new{
    text-align: center;
    background-color: lightskyblue;
    order: 1;
}

#input-fields{
    position: relative;
    margin: auto;
    display: inline-grid;
    border-style: solid;
}

.book-card{
    height: 300px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px gray;
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
}

.title{
    font-style: italic;
}

.title, .author, .pages{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

.have-read{
    user-select: none;
    border-style: outset;
    border-color: darkred;
    background-color: darkred;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
}

.have-read:active{
    border-style: inset;
}

.new-input{
    margin-top: 25px;
}