div{
    font-family: 'Dosis', sans-serif;
}

#library-container{
    position: absolute;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 99%;
}

#create-new{
    text-align: center;
    background-color: lightskyblue;
    order: 1;
}

.book-card, #create-new{
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px gray;
}

#input-fields{
    text-align: center;
    position: relative;
    margin: auto;
    display: inline-grid;
}

#submit{
    user-select: none;
    border-style: outset;
    border-color: white;
    background-color: white;
    color: black;
    text-align: center;
    width: 50%;
    margin: 10px 0 0 23%;
}

.book-card{
    height: 300px;
    background-color: lightgray;
}

.title{
    font-style: italic;
}

.title, .author, .pages{
    padding-top: 10px;
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
}

.new-input{
    width: 100%;
    margin-top: 10px;
    display: block;
}

.have-not-read{
    user-select: none;
    border-style: outset;
    border-color: darkred;
    background-color: darkred;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
}

.have-read{
    user-select: none;
    border-style: outset;
    border-color: darkgreen;
    background-color: darkgreen;
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.have-not-read:active, .have-read:active, #submit:active{
    border-style: inset;
}
